---
---
{% include header.html %}
{% include nav.html %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="content box-shadow">
                <h3 class="text-shadow spaceafter"><i class="fa fa-hand-spock-o" aria-hidden="true"></i> Welcome</h3>

                <p>This site is a living experiment to stay up to date on web development. While only scratching the surface of the mythical <em><a href="https://github.com/kamranahmedse/developer-roadmap">full-stack</a></em>, the starting point was <a href="https://www.udemy.com/the-web-developer-bootcamp">Colt Steele's Web Development Bootcamp</a>. The course was a well-guided tour of modern front-end and back-end technologies including HTML, CSS, Javascript, <a href="https://nodejs.org">Node.js</a>, <a href="https://expressjs.com">Express</a>, and <a href="https://www.mongodb.com">MongoDB</a> as well as generic topics like <a href="https://github.com/deadlysyn/fullstackbootcamp/tree/master/miniblog">ReSTful API's</a> and <a href="https://heroku.com">service deployment via Heroku</a>.</p>
                <p>Aside from the core technology, this site would have required a lot more effort without a healthy spattering of contemporary web design resources including <a href="https://jquery.com">jQuery</a>, <a href="https://getbootstrap.com">Bootstrap's CSS and JS frameworks</a>, <a href="http://unsplash.com">unsplash.com's</a> stunning collection of creative commons photography, the ever-so-useful <a href="http://fontawesome.io">fontawesome.io</a>, and svg backgrounds courtesy of <a href="http://heropatterns.com">heropatterns.com</a>. These amazing tools and frameworks make quickly designing modern, mobile-friendly sites as fun as playing with Legos.</p>

                <hr class="hr-fade">

                <h3 class="text-shadow spaceafter"><i class="fa fa-level-up" aria-hidden="true"></i> Philosophy</h3>

                <div class="quote">
                    <p>
                        <i class="fa fa-quote-left fa-3x fa-pull-left" aria-hidden="true"></i>
                        <em>A human being should be able to change a diaper, plan an invasion, butcher a hog, conn a ship, design a building, write a sonnet, balance accounts, build a wall, set a bone, comfort the dying, take orders, give orders, cooperate, act alone, solve equations, analyze a new problem, pitch manure, program a computer, cook a tasty meal, fight efficiently, die gallantly. Specialization is for insects.</em>
                        <!--i class="fa fa-quote-right fa-3x fa-pull-right" aria-hidden="true"></i-->
                    <p>
                        <span class="pull-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Robert A. Heinlein</span>
                    </p>
                </div>

                <hr class="hr-fade">

                <h3 class="text-shadow spaceafter"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Name</h3>

                <p><em>DeadlySyn</em> is a play on the (in)famous <a href="https://en.wikipedia.org/wiki/Seven_deadly_sins">seven deadly sins</a> which were lust, gluttony, greed, sloth, wrath, envy and pride.  Each were bad in their own way, but it only took one to endanger your mortal soul!</p>
                <p>Similarly, as we've become used to hearing on the nightly news, a single misplaced packet can exploit zero-day vulnerabilities and slip through backdoors to endanger sensitive customer data or bring down critical infrastructure.</p>
                <p>I got my first <em>real job</em> courtesy of reporting a security vulnerability... Building micro-services and APIs which, by design, expose surface area to user populations of varied intent requires we be ever vigilant!</p>

                <hr class="hr-fade">

                <h3 class="text-shadow spaceafter"><i class="fa fa-laptop" aria-hidden="true"></i> Experience</h3>

                <p><a href="resume.pdf"><button class="btn btn-outline-dark"><i class="fa fa-download"></i> Download Resume</button></a></p>

                <p><strong>Specialties:</strong> DevOps, SRE, distributed systems, scalability, automation, monitoring, API development</p>

                <p><strong>Summary:</strong> Collaborative infrastructure engineer with CS/CE academic background and over twenty years of experience seeking SRE or software development oportunities where I can leverage my systems engineering and automation expertise to change the world.  Lifetime learner equally interested in distributed systems, full-stack development, cloud computing, CI/CD and security delivered via Agile/Lean methodologies.</p>

                <p><strong>Keywords:</strong> UNIX (FreeBSD, Solaris), Linux (Red Hat, Ubuntu, Debian), TCP/IP networking (route/switch, firewalls, load balancing), IaaS, PaaS, containers (Docker, Swarm, Kubernetes), cloud (OpenStack, AWS), EC2, RDS, S3, ELB, VPC, virtualization (KVM, VMware), DNS, DHCP, TFTP, PXE, IPMI, HTTP, TLS, ReST, SQL (MySQL, PostgreSQL), noSQL (Cassandra, MongoDB), monitoring (Nagios, Prometheus, Datadog), metrics (Graphite), logging (rsyslog, Elasticsearch, Logstash, Kibana), Grafana, CI/CD (Jenkins, Drone), Ansible, Puppet, CFEngine, HTML, CSS, Javascript, shell, Golang, Node.js, Express, Python, git, GitHub, Hashicorp (Consul, Terraform, Nomad), Agile, Lean
                </p>

            </div>
        </div>
    </div>
</div>

{% include footer.html %}
