---
---
{% include header.html %}
{% include nav.html %}

<div class="container">
    <div class="row">
        <div class="col">
            <div id="hometext">
                <img class="rounded-circle img-fluid box-shadow" id="max" alt="Picture of Max Headroom" src="media/headromFront.jpg">
                <hr class="fade">
                <a href="https://www.linkedin.com/in/deadlysyn"><button class="btn btn-lg btn-outline-primary"><i class="fa fa-fw fa-linkedin"></i></button></a>
                <a href="https://github.com/deadlysyn"><button class="btn btn-lg btn-outline-primary"><i class="fa fa-fw fa-github"></i></button></a>
                <a href="https://medium.com/@deadlysyn"><button class="btn btn-lg btn-outline-primary"><i class="fa fa-fw fa-medium"></i></button></a>
                <a href="mailto:mrh@deadlysyn.com"><button class="btn btn-lg btn-outline-primary"><i class="fa fa-fw fa-envelope"></i></button></a>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
