---
---
{% include header.html %}
{% include nav.html %}

<div class="container">
    <div class="jumbotron box-shadow">
        <h1 class="text-shadow"><i class="fa fa-flask"></i> The Lab</h1>
    </div>
    <div class="row">

        <div class="col">
            <div class="card box-shadow">
                <img class="card-img-top" alt="Screenshot of ReSTful Blog" src="media/miniblog.jpg">
                <div class="card-body">
                    <h4 class="card-title">ReSTful Blog</h4>
                    <p>Simple blog comrpised of <a href="https://nodejs.org">Node.js</a>, <a href="https://expressjs.com">Express</a>, <a href="https://www.mongodb.com">MongoDB</a>, and <a href="http://mongoosejs.com">Mongoose</a>. Test drives <a href="https://semantic-ui.com">Semantic UI</a> vs <a href="https://getbootstrap.com">Bootstrap</a>. Academic exercise to practice implementing web services adhering to <a href="https://github.com/deadlysyn/fullstackbootcamp/blob/master/miniblog/README.md">ReSTful best practices</a>.</p>
                    <a class="btn btn-outline-primary" href="https://github.com/deadlysyn/fullstackbootcamp/tree/master/miniblog">GitHub Repo</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card box-shadow">
                <img class="card-img-top" alt="Screenshot of CircleTap" src="media/circleTap.jpg"></a>
                <div class="card-body">
                    <h4 class="card-title">Circle Tap</h4>
                    <p><a href="https://patatap.com">Patatap</a> clone leveraging the amazing <a href="http://paperjs.org">Paper.js</a> and <a href="https://howlerjs.com">Howler.js</a> libraries to create a dance party in your browser.</p>
                    <a class="btn btn-outline-primary" href="https://github.com/deadlysyn/fullstackbootcamp/tree/master/patatapclone">GitHub Repo</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card box-shadow">
                <img class="card-img-top" alt="Screenshot of jQuery To-Do List" src="media/todos.jpg">
                <div class="card-body">
                    <h4 class="card-title">To-Do List</h4>
                    <p>Experimenting with jQuery by building a simple To-Do list. I tend to prefer pure JavaScript, but it's amazing how much you can do with jQuery in so few lines of code! Note to self: needs persistence layer.</p>
                    <a class="btn btn-outline-primary" href="https://github.com/deadlysyn/fullstackbootcamp/tree/master/todolist">GitHub Repo</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col">
            <div class="card box-shadow">
                <img class="card-img-top" alt="Screenshot of Color Guessing Game" src="media/colorGame.jpg">
                <div class="card-body">
                    <h4 class="card-title">Color Guessing Game</h4>
                    <p>Mid-term project from Colt Steele's Full-Stack Web Development Bootcamp. Generates a grid of random colors, and let's users try and guess the RGB values. More practice with HTML, CSS and Javascript.</p>
                    <a class="btn btn-outline-primary" href="https://github.com/deadlysyn/fullstackbootcamp/tree/master/midterm">GitHub Repo</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card box-shadow">
                <img class="card-img-top" alt="Screenshot of DeadlySyn.com" src="media/deadlysyn.jpg">
                <div class="card-body">
                    <h4 class="card-title">DeadlySyn Website</h4>
                    <p>Yep, you're looking at it...  The usual suspects: HTML, CSS, Javascript, <a href="https://getbootstrap.com">Bootstrap</a>.</p>
                    <a class="btn btn-outline-primary" href="https://github.com/deadlysyn/deadlysyn.github.io">GitHub Repo</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% include footer.html %}
