<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Automation, CI/CD, cloud, infrastructure, DevOps, full stack development, monitoring, SRE"/>
        <title>DeadlySYN Labs</title>
        <!--
        <link rel="stylesheet" href="public/css/fontawesome-all.min.css"/>
        <link rel="stylesheet" href="public/css/style.css"/>
        -->
        <link rel="preload" href="public/css/fontawesome-all.min.css" as="style"/>
        <link rel="preload" href="public/css/style.css" as="style"/>
    </head>
    <body>
        <header>
            <a href="/"><i class="fas fa-terminal fa-2x text-shadow"></i></a>
            <nav class="text-shadow">
                <a href="projects.html">Projects</a>
                <a href="/blog">Blog</a>
            </nav>
        </header>
