<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand logo-color" href="index.html"><i class="fa fa-cog fa-fw fa-spin"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="about.html">About <i class="fa fa-fw fa-info-circle"></i></a>
                <a class="nav-item nav-link" href="projects.html">Projects <i class="fa fa-fw fa-flask"></i></a>
                <a class="nav-item nav-link" href="/blog">Blog <i class="fa fa-fw fa-file-text"></i></a>
            </div>
        </div>
    </div>
</nav>
