html {
    height: 100%;
}

body {
    /* uigradients.com:nighthawk */
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    color: #2c3e50;
    text-decoration: none;
}

#hometext {
    padding-top: 180px;
    position: relative;
    text-align: center;
}

#max {
    height: 175px;
    width: 175px;
    padding: 0;
    border: 0;
}

/* https://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height/22892773 */
@media (min-width: 768px) {
  .row.equal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.box-shadow {
    -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5),
                0px 8px 13px rgba(0, 0, 0, 0.2),
                0px 18px 23px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5),
                0px 8px 13px rgba(0, 0, 0, 0.2),
                0px 18px 23px rgba(0, 0, 0, 0.2);
}

.text-shadow {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5),
                 0px 8px 13px rgba(0, 0, 0, 0.2),
                 0px 18px 23px rgba(0, 0, 0, 0.2);
}

/*
.card img {
    width: 100%;
}
*/

.row {
    padding-bottom: 15px;
    padding-top: 15px;
}

.card {
    background: rgba(255, 255, 255, 0.7);
    border: 0;
    color: #000000;
    padding: 0;
    height: 100%;
}

.content {
    background: rgba(255, 255, 255, 0.7);
    border: 0;
    border-radius: 5px;
    color: #000000;
    font-size: 1.0em;
    margin-bottom: 2.0em;
    margin-top: 80px;
    padding: 2.0em;
}

.quote-o {
    width: 80%;
    margin: 0 auto;
}

.quote-l {
    width: 30px;
    text-align: center;
    float: left;
}

.quote-m {
    width: 80%;
    text-align: justify;
    float: left;
}

.quote-r {
    width: 30px;
    text-align: center;
    float: left;
}

.jumbotron {
    margin-top: 80px;
    background: rgba(255, 255, 255, 0.7);
}

h3 {
    font-size: 1.8em;
}

.spaceafter {
    margin-bottom: 20px;
}

.hr-dark {
    width: 300px;
    border-top: 1px solid #848484;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    margin-top: 40px;
    margin-bottom: 40px;
    clear: both;
}

.hr-light {
    width: 300px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    margin-bottom: 40px;
    clear: both;
}
