html {
    height: 100%;
}

body {
    /* uigradients.com:nighthawk */
    /*background: #2980b9;
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
    background: linear-gradient(to right, #2c3e50, #2980b9);*/
    /* heropatterns.com graph paper */
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.06'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    color: #2c3e50;
    text-decoration: none;
}

#hometext {
    padding-top: 25vh;
    position: relative;
    text-align: center;
}

#max {
    height: 175px;
    width: 175px;
    padding: 0;
    border: 0;
}

/* https://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height/22892773 */
@media (min-width: 768px) {
  .row.equal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.box-shadow {
    -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5),
                0px 8px 13px rgba(0, 0, 0, 0.2),
                0px 18px 23px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5),
                0px 8px 13px rgba(0, 0, 0, 0.2),
                0px 18px 23px rgba(0, 0, 0, 0.2);
}

.text-shadow {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5),
                 0px 8px 13px rgba(0, 0, 0, 0.2),
                 0px 18px 23px rgba(0, 0, 0, 0.2);
}

.row {
    padding-bottom: 15px;
    padding-top: 15px;
}

.card {
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    color: #000000;
    padding: 0;
    height: 100%;
}

.content {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #888888;
    border-radius: 5px;
    color: #444444;
    font-size: 1.05em;
    margin-bottom: 2.5em;
    margin-top: 75px;
    padding: 2.0em;
}

.quote-o {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    overflow: hidden;
}

.quote-l {
    width: 30px;
    text-align: center;
    float: left;
}

.quote-m {
    width: 80%;
    text-align: justify;
    float: left;
}

.quote-r {
    width: 30px;
    text-align: center;
    float: left;
}

.jumbotron {
    margin-top: 75px;
    background: rgba(255, 255, 255, 0.2);
}

h3 {
    font-size: 1.8em;
}

.spaceafter {
    margin-bottom: 20px;
}

.hr-dark {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid #848484;
    clear: both;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 300px;
}

.hr-light {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid #f8f8f8;
    clear: both;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 300px;
}

hr.fade {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    border: 0;
    clear: both;
    height: 5px;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 300px;
}
